*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color:#fff;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.3s;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#main h1{
    font-size: 9vw;
    color: #fff;
    font-weight: 900;
}